/**
 * This stylesheet is loaded before the app so that the footer isn't shown while the react
 * app is loading.
 */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.site-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    color: #888;
    text-align: center;
    opacity: 0;
}

.show {
    opacity: 1;
    transition: opacity 2s;
}