/* atlaskit hack */
nav > div > div > label {
  display: none !important;
}

/* inspired by buttons in https://github.com/electron/electron-api-demos */
.rainbow-wrapper {
  --rainbow-button-width: 200px;
  --rainbow-button-height: 50px;
  --rainbow-button-width-inner: 194px;
  --rainbow-button-height-inner: 44px;
  --rainbow-color-1: hsl(116, 30%, 36%);
  --rainbow-color-2: hsl(194, 60%, 36%);
  --rainbow-color-3: hsl(222, 53%, 50%);
  --rainbow-color-4: hsl(285, 47%, 46%);
  --rainbow-color-5: hsl(330, 65%, 48%);
  --rainbow-color-6: hsl(32, 79%, 49%);
  --rainbow-color-7: hsl(53, 84%, 50%);

  display: inline-block;
  width: var(--rainbow-button-width);
  height: var(--rainbow-button-height);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.rainbow-wrapper:before {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 600px;
  height: var(--rainbow-button-height);
  background: #ccc;
  background: linear-gradient(
    to right,
    var(--rainbow-color-1) 0%,
    var(--rainbow-color-2) 14%,
    var(--rainbow-color-3) 28%,
    var(--rainbow-color-4) 42%,
    var(--rainbow-color-5) 56%,
    var(--rainbow-color-6) 70%,
    var(--rainbow-color-7) 84%,
    var(--rainbow-color-1) 100%
  );
  background-position: -200px 0;
  transition: all 0.5s;
  content: '';
}

.rainbow-wrapper > * {
  display: block;
  width: var(--rainbow-button-width-inner);
  height: var(--rainbow-button-height-inner);
  position: absolute;
  z-index: 3;
  top: 3px;
  left: 3px;
  border: none;
  border-radius: 4px;
  background: white;
  color: black;
}

.rainbow-wrapper:hover:before {
  background-position: 200px 0;
}
