.CodeMirror {
  border: 1px solid #444;
}

#result {
  border: 1px solid #444;
  background-color: #f7f7f7;
  height: 40px;
  padding: 10px;
}

.app {
  width: 1024px;
  max-width: 1024px;
  box-shadow: 0 5px 15px #222;
  border-radius: 5px;
  animation: bounceIn 750ms ease-in;
}

.app main, .app nav {
  padding: 10px;
}

.app nav .list {
  height: 350px;
  overflow: scroll;
  border: 1px solid #444;
}

/* atlaskit hack */
.app nav .list > div > label { display: none; }

.container {
  position: relative;
  display: flex;
}

.app .container main {
  order: 1;
  flex: 4;
}

.app .container nav {
  order: 1;
  flex: 1;
}

.app-logo {
  animation: app-logo-spin 1.5s ease-in-out;
  width: 200px;
  height: 50px;
  color: yellow;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
    filter: hue-rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
    filter: hue-rotate(360deg);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
  }

  10% {
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

/* inspired by buttons in https://github.com/electron/electron-api-demos */
.rainbow-wrapper {
  --rainbow-button-width: 200px;
  --rainbow-button-height: 50px;
  --rainbow-button-width-inner: 194px;
  --rainbow-button-height-inner: 44px;
  --rainbow-color-1: hsl(116, 30%, 36%);
  --rainbow-color-2: hsl(194, 60%, 36%);
  --rainbow-color-3: hsl(222, 53%, 50%);
  --rainbow-color-4: hsl(285, 47%, 46%);
  --rainbow-color-5: hsl(330, 65%, 48%);
  --rainbow-color-6: hsl(32, 79%, 49%);
  --rainbow-color-7: hsl(53, 84%, 50%);

  display: inline-block;
  width: var(--rainbow-button-width);
  height: var(--rainbow-button-height);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.rainbow-wrapper:before {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 600px;
  height: var(--rainbow-button-height);
  background: #CCC;
  background: linear-gradient(to right, var(--rainbow-color-1) 0%, var(--rainbow-color-2) 14%, var(--rainbow-color-3) 28%, var(--rainbow-color-4) 42%, var(--rainbow-color-5) 56%, var(--rainbow-color-6) 70%, var(--rainbow-color-7) 84%, var(--rainbow-color-1) 100%);
  background-position: -200px 0;
  transition: all 0.5s;
  content: "";
}

.rainbow-wrapper * {
  display: block;
  width: var(--rainbow-button-width-inner);
  height: var(--rainbow-button-height-inner);
  position: absolute;
  z-index: 3;
  top: 3px;
  left: 3px;
  border: none;
  border-radius: 4px;
  background: white;
  color: black;
  font-size: 1.3rem;
}

.rainbow-wrapper:hover:before {
  background-position: 200px 0;
}